label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

input {
    margin-left: 5px;
    border: 1px #eae4e4 solid;
    padding: 5px;
    background-color: white;
}

a {
    display: inline-block;
    margin-top: 25px;
}